{{!< default}}

{{#author}}
<section class="site-header jumbotron bg-dark">
	<div class="container">
		<div class="row">
			<div class="col-sm-2">
				<div class="about-image-div">
					{{#if profile_image}}
                        <a href="{{url}}"><img class="about-image-standard" src="{{profile_image}}" alt="{{name}}" /></a>
                    {{else}}
                        <a href="{{url}}" class="static-avatar about-image">{{> "icons/avatar"}}</a>
                    {{/if}}
				</div>
			</div>
			<div class="col-sm-10">
				<div class="about-profile">
					<h1>{{name}}</h1>
					{{#if bio}}
						<p>{{bio}}</p>
					{{/if}}
					<div>
						{{#if location}}
							<span class="author-location"><i class="fas fa-map-marked-alt"></i> {{location}} <span class="bull">&bull;</span></span>
						{{/if}}
						<span class="author-stats">
							{{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}} <span class="bull">&bull;</span>
						</span>
						{{#if website}}
							<a href="{{website}}" class="link-danger text-danger" target="_blank" rel="noopener"><i class="fas fa-link"></i> Website</a>
						{{/if}}
						{{#if twitter}}
							<a href="{{twitter_url}}" class="link-primary text-primary" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
						{{/if}}
						{{#if facebook}}
							<a href="{{facebook_url}}" target="_blank" rel="noopener"><i class="fab fa-fw fa-facebook-f"></i></a>
						{{/if}}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{{#page}}
	{{#if feature_image}}<section class="container"><div class="featured_image"><img class="img-fluid" src="{{feature_image}}" alt="{{title}}"></div></section>{{/if}}
{{/page}}

{{/author}}

<section class="container">
	<div class="row">
		<!-- For each one of the posts, display the title -->
		{{#foreach posts}}
			{{> post_card}}
		{{/foreach}}
	</div>
</section>

<!-- Pagination block -->
<div class="container">
	{{pagination}}
</div>